<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The GitHub access token, to allow searching through private repositories.
    Generate though your profile settings page on GitHub, https://github.com/settings/tokens -->
    <add key="GithubAccessToken" value="" />
    
    <!-- The name of either organization or user containing the repositories to search through. -->
    <add key="GithubTargetName" value="" />

    <!-- The filter for repositories to search through.
    Separate multiple filters by | where each filter is a regular expression that should match the full repository name. -->
    <add key="RepositoryFilters" value="" />

    <!-- The filter for filenames to search for. Bound to the search rules of GitHub search. -->
    <add key="FilenameFilter" value="" />

    <!-- Specifies how the filename is shown in the output. Options: Path, HtmlUrl. -->
    <add key="OutputMode" value="HtmlUrl" />

    <!-- Specifies the amount of lines shown above and below the highlighted line. -->
    <add key="SurroundingLines" value="2" />
    
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>